{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In deze versie werden ten opzichte van de oorspronkelijke versie <b>uri tags toegevoegd aan alle associaties, rollen en associatieklassen</b>.
</p>
<p>
  Aan associatieklassen werden bovendien <b>uri-source-attribute en uri-target-attribute uri's toegevoegd</b> om de uri's van de gegenereerde linkende attributen te bepalen.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


