{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In dit vocabularium liggen de associaties tussen de <b>...base</b> klassen</b>.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


