{% extends "ap2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld applicatieprofiel om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  Aan de associatieklassen is een <b>name-source-class</b> tag en <b>name-target-class</b> tag toegevoegd, zodat de juiste URI's kunnen worden gemaakt voor de gegenereerde attributen in de associatieklassen.
</p>
<p>
  In het corresponderende <b>vocabularium</b> liggen de associaties tussen de <b>...base</b> klassen</b>.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


