{% extends "ap2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld applicatieprofiel om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In dit voorbeeld werden <b>de UML namen van alle rollen voorafgegaan door een hoofdletter 'H'</b>.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


