{% extends "ap2.j2" %}

{% block summary %}
<p>
  Een applicatieprofiel met associaties, al dan niet met bijhorende associatieklasse, die werden afgedaald ten opzichte van het vocabularium.
</p>
<p>
  Oplossingen voor hierbij optredende problemen worden voorgesteld en toegepast. Uitleg is te vinden in de tekstjes in het diagram.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}
