{% extends "voc2.j2" %}

{% block summary %}
<p>Een vocabularium met een associaties, al dan niet met bijhorende associatieklasse, die in een applicatieprofiel zouden moeten kunnen afgedaald worden.</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}
