{% extends "ap2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld applicatieprofiel om het gebruik van rollen te illustreren.
</p>
{% endblock %}

{% block status %}
Dit is een voorbeeld.
{% endblock %}


