{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
{% endblock %}

{% block status %}
Dit is een voorbeeld.
{% endblock %}


