{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In dit voorbeeld worden associaties gedefinieerd in het lokale package, waarbij <b>minstens een van de deelnemende klassen zich in een ander package bevindt</b>.
  De nodige package tags werden toegevoegd aan associaties en rollen, zodat alle gegenereerde elementen zich binnen dit package (en niet het andere) bevinden.
  In dit voorbeeld bevinden zich per associatie telkens <b>de deelnemende klasse(n) in een ander package</b>.
  We wensen dus binnen ons package <b>nieuwe associaties te definiëren tussen bestaande klassen</b>.
  De nodige package tags werden toegevoegd aan associaties en rollen, zodat alle gegenereerde elementen zich binnen dit package (en niet het andere) bevinden.  
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


