{% extends "ap2_en.j2" %}

{% block summary %}
<p>Enter a summary of my application profile here.</p>
{% endblock %}

{% block status %}
<p>(Delete this block to have an automated default paragraph appear.)</p>
{% endblock %}
