{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In dit voorbeeld bevinden zich alle <b>associaties en associatieklassen in een ander package</b>.
  We wensen dus binnen ons package bestaande associaties te gebruiken tussen nieuwe klassen.
  De nodige tag package=MijnAnderDomein werd toegevoegd aan associaties, rollen en associatieklassen.
</p>
<p>
  Als alles goed gaat zie je in het gegenereerde vocabularium de baseURI van MijnAnderDomein niet voorkomen als URI van een gedefinieerd element (wel als Domein en Bereik).
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


