{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld vocabularium om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  Dit voorbeeld bevindt zich <b>in een ander package ten opzichte van waar de associaties gedefinieerd werden</b>. Ze worden samen met de deelnemende klassen <i>geshopt</i> uit het oorspronkelijke package.
  Aangezien dit vocabularium zelf geen extra termen definieert, is de inhoud van de resulterende specificatie per definitie <b>leeg</b>.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}


