{% extends "ap2.j2" %}

{% block summary %}
<p>
  Dit is een voorbeeld applicatieprofiel om te testen hoe associaties worden verwerkt tot specificatie.
</p>
<p>
  In deze oorspronkelijke versie werden behalve de nodig label-nl en definition-nl tags geen extra tags toegevoegd.
</p>
{% endblock %}

{% block status %}
<p>Dit zou de status tekst moeten zijn.</p>
{% endblock %}
